<h1>{{title}}</h1>
<div class="container">
    <!-- Cakes -->
    <div class="cakes">
        <h3 class="cakes_h3">Submit a cake to be rated</h3>
        <form class="cakes_form" (submit)="onSubmitCake()">
            <!-- <p>{{newCake | json}}</p> -->
            <p>Baker Name:</p>
            <input type="text" name="newCake.baker_name" [(ngModel)]="newCake.baker_name">
            <p>Image url:</p>
            <input type="text" name="newCake.img_url" [(ngModel)]="newCake.img_url">
            <div class="cakes_button">
                <input type="submit" value="SUBMIT">
            </div>
        </form>
    </div>

    <!-- Rated Cakes -->
    <app-rated-cake *ngIf="clicked" [specific_cake]="specific_cake"></app-rated-cake>
    <!-- <div class="rated_cakes" *ngIf="clicked"> -->


    <!-- </div> -->
</div>
<!-- Rate -->
<div class="rate">
    <div class="rate_div" *ngFor="let cake of cakes">
        <img class="rate_img" src="{{cake.img_url}}" (click)="onButton(cake)">
        <div class="rate_form_div">
            <form class="rate_form" (submit)="onSubmitRate(cake._id, newRate)">
                {{cake._id}}
                <select class="rate_form_select" name="newRate.rate" [(ngModel)]="newRate.rate">
                    <option value="1">1 Star</option>
                    <option value="2">2 Stars</option>
                    <option value="3">3 Stars</option>
                    <option value="4">4 Stars</option>
                    <option value="5">5 Stars</option>
                </select>
                <input class="rate_form_input" type="text" placeholder="Type your comment here" name="newRate.comment" [(ngModel)]="newRate.comment">
                <input type="submit" value="Rate!">
            </form>
        </div>
    </div>
</div>

